{% extends 'base.html.twig' %}

{% block title %}Hello BezoekerController!{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('categories')}}">Categories</a></li>
        </ol>
    </nav>
    <div class="row gy-3">
        {% for category in categories %}
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{path('category',{'id':category.id}) }}">
                        <img alt="no picture" class="product-img img-responsive center-block" src="{{ asset(category.picture) }}"/>
                    </a>
                    <div class="card-title mb-3">{{ category.name }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}